@use "../utilities/vars" as *;

/*------------------------------------*\
  #FONT IMPORTS
\*------------------------------------*/
// FONT folder needs to be manually pasted into public assets

@font-face {
  font-family: "league_spartanbold";
  src: url("#{$font-url}leaguespartan-bold-webfont.woff") format("woff"),
    url("#{$font-url}leaguespartan-bold-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

// @font-face {
//   font-family: "nerisblack";
//   src: url("#{$font-url}neris-black-webfont.woff2") format("woff2"),
//     url("#{$font-url}neris-black-webfont.woff") format("woff");
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: "nerisblack_italic";
//   src: url("#{$font-url}neris-blackitalic-webfont.woff2") format("woff2"),
//     url("#{$font-url}neris-blackitalic-webfont.woff") format("woff");
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: "nerisbold_italic";
//   src: url("#{$font-url}neris-bolditalic-webfont.woff2") format("woff2"),
//     url("#{$font-url}neris-bolditalic-webfont.woff") format("woff");
//   font-weight: normal;
//   font-style: normal;
// }

@font-face {
  font-family: "nerislight";
  src: url("#{$font-url}neris-light-webfont.woff2") format("woff2"),
    url("#{$font-url}neris-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "nerislight_italic";
  src: url("#{$font-url}neris-lightitalic-webfont.woff2") format("woff2"),
    url("#{$font-url}neris-lightitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "nerissemibold";
  src: url("#{$font-url}neris-semibold-webfont.woff2") format("woff2"),
    url("#{$font-url}neris-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

// @font-face {
//   font-family: "nerissemibold_italic";
//   src: url("#{$font-url}neris-semibolditalic-webfont.woff2") format("woff2"),
//     url("#{$font-url}neris-semibolditalic-webfont.woff") format("woff");
//   font-weight: normal;
//   font-style: normal;
// }

@font-face {
  font-family: "neristhin";
  src: url("#{$font-url}neris-thin-webfont.woff2") format("woff2"),
    url("#{$font-url}neris-thin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/*------------------------------------*\
  #Vertical Rhythm Grid
\*------------------------------------*/

html {
  font-size: $font-baseline;
}

/*------------------------------------*\
  #FONT STYLES
\*------------------------------------*/
h1,
h2,
label {
  font-family: "league_spartanbold";
  font-weight: normal;
  font-style: normal;
}

h3,
h4,
.skill-card,
.nav__menu {
  font-family: "neristhin";
  font-weight: normal;
  font-style: normal;
}

p,
figcaption,
span {
  font-family: "nerislight";
  font-weight: normal;
  font-style: normal;
}

/*------------------------------------*\
  #FONT SIZE, COLOR, AND SPACING
\*------------------------------------*/

h3,
.skill-search-txt,
.skill-card {
  font-size: clamp($txt-md, 5vw, $txt-lg);
}

h4 {
  font-family: "nerissemibold";
  font-weight: normal;
  font-size: $txt-md;
}

h3,
.skill-search-txt,
.banner-caption-txt {
  color: $secondary-color;
  line-height: 1.3333;
}

h1 {
  font-size: clamp($txt-lg, 12vw, $txt-xxl);
  line-height: 1.48;
  margin: 0rem;
  margin-top: 6rem;
  color: $light-gray;
}

.projects-page {
  h1 {
    margin-bottom: 1.5rem;
  }
}

h2,
.banner-caption-txt {
  font-size: clamp($txt-lg, 7vw, $txt-xl);
  line-height: 1.3333;
  margin-bottom: $baseline-1;
}

.skill-card {
  figcaption {
    line-height: 1.3333;
  }
}

.nav__menu {
  font-size: $txt-md;
  line-height: 2;
  // letter-spacing: 2;
}

p {
  font-size: 1rem;
  max-width: 40rem;
}

figcaption {
  font-size: $txt-md;
  font-size: clamp($txt-sml, 3.5vw, $txt-mdsml);
}

.contact {
  span {
    font-size: clamp($txt-md, 5vw, $txt-lg);
    margin-bottom: 1.5rem;
    display: block;
  }

  label {
    font-family: "nerissemibold";
    font-size: clamp($txt-sml, 3.5vw, $txt-md);
  }

  input {
    border: solid 1px gray;
    border-radius: 3px;
    height: 2rem;
  }

  .btn {
    margin-top: 4.5rem;
  }
}

span {
  line-height: 1.3333;
}

.thankyou-section {
  h1 {
    color: $primary-color;
  }
}
