.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

// <div class="overlay-drk"></div>
.overlay-drk {
  position: absolute;
  background-color: black;
  height: 100%;
  width: 100%;
  opacity: 0.1;
}

.line-height-squeeze {
  line-height: 1;
}
