@use "../utilities/vars" as *;
/*------------------------------------*\
  #Button Colors
\*------------------------------------*/
// logic determines if border is shown when the hover fills in the background white
@mixin buttonBg($bg, $border, $txt, $fill-border: false) {
  background-color: $bg;
  color: $txt;
  border-color: $border;

  @if $fill-border {
    &:hover {
      border-color: $border;
      background: $txt;
      transition: all 0.3s ease;
      color: $bg;
    }
  } @else {
    &:hover {
      background: $txt;
      border-color: $txt;
      transition: all 0.3s ease;
      color: $bg;
    }
  }

  &:active {
    background: lighten($bg, 25%);
  }
}

/*------------------------------------*\
  #Background image using img element
\*------------------------------------*/
@mixin backgroundImg($zindex: 0, $pt: 5rem, $pb: 5rem) {
  z-index: $zindex;
  position: $bckimg-parentPos;
  padding: $pt 0rem $pb 0rem;
  img {
    z-index: $bckimg-z2;
    position: $bckimg-childPos;
    object-fit: $bckimg-imgFit;
    height: $bckimg-h;
    width: $bckimg-w;
    top: $bckimg-top;
    left: $bckimg-left;
  }
}


// skill card

// flex