// -------------color variables------------
// Naming Convention: name it something that can still
// be accurate if color is changed.
$primary-color: rgb(48, 56, 83);
$secondary-color: rgb(248, 220, 123);
$dark-accent: hsl(24, 100%, 25%);
$gray: rgba(48, 56, 83, 0.26);

$old-white: hsl(0, 13%, 95%);
$white: rgb(247, 247, 246);
$light-gray: hsl(0, 0%, 97%);
$dark-gray: hsl(228, 5%, 19%);

$light: #f7f7f6;
$light-accent: #ffe47a;
$main-brand-color: rgb(74, 84, 93);
$dark-accent: $primary-color;
$darkshades: #303853;

// -------------Layout variables------------

$center: 0 auto;

// --------URLs--------

$font-url: "../assets/fonts/";

// --------Typographic vars--------
//SCALE: 1.5 a perfect fifth
//Base: 16px;

$txt-xxxl: 7.5rem;
$txt-xxl: 5.063rem;
$txt-xl: 3.375rem;
$txt-lg: 2.25rem;
$txt-md: 1.5rem;
$txt-mdsml: 1.1rem;
$txt-sml: 1rem;
$txt-xs: 0.667rem;

// --------spacing vars--------
$font-baseline: 112.5%;
$baseline-1: 1.5rem;
$baseline-2: 3rem;
$baseline-3: 4.5rem;
$baseline-4: 6rem;

$false: false;
$true: true;

/*------------------------------------*\
  #Background image using img element
\*------------------------------------*/
$bckimg-z2: -2;
$bckimg-parentPos: relative;
$bckimg-childPos: absolute;
$bckimg-imgFit: cover;
$bckimg-h: 100%;
$bckimg-w: 100%;
$bckimg-top: 0;
$bckimg-left: 0;

/*------------------------------------*\
  #GRID vars
\*------------------------------------*/

$grid-mid-width: 1540px;

/*------------------------------------*\
  #Styling Vars
\*------------------------------------*/

$box-shadow-light: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
  0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
$box-shadow-dark: 0 2px 2px 0 rgba(0, 0, 0, 0.517),
  0 3px 1px -2px rgba(0, 0, 0, 0.618), 0 1px 5px rgba(0, 0, 0, 0.504);
