// -------------color variables------------
// Naming Convention: name it something that can still
// be accurate if color is changed.
$primary-color: hsl(228, 26%, 18%);
$secondary-color: hsl(48, 100%, 74%);
$dark-accent: hsl(24, 100%, 25%);

$old-white: hsl(0, 13%, 95%);
$white: hsl(0, 0%, 100%);
$light-gray: hsl(0, 0%, 97%);
$dark-gray: hsl(228, 5%, 19%);

// -------------Layout variables------------

$center: 0 auto;

// --------URLs--------

$font-url: "../assets/fonts/";

// --------Typographic vars--------
//SCALE: 1.5 a perfect fifth
//Base: 16px;

$txt-xxxl: 7.5rem;
$txt-xxl: 5.063rem;
$txt-xl: 3.375rem;
$txt-lg: 2.25rem;
$txt-md: 1.5rem;
$txt-sml: 1rem;
$txt-xs: 0.667rem;

// --------spacing vars--------
// 

$font-baseline: 100%;
$baseline-1: 1.5rem;
$baseline-2: 3rem;
$baseline-3: 4.5rem;
$baseline-4:6rem;
