
// -------------color variables------------
// Naming Convention: name it something that can still 
// be accurate if color is changed.
$primary-color: hsl(228, 26%, 18%);
$secondary-color: hsl(48, 100%, 74%);
$dark-accent: hsl(24, 100%, 25%);

$old-white: hsl(0, 13%, 95%);
$white: hsl(0, 0%, 100%);
$light-gray: hsl(0, 0%, 97%);
$dark-gray: hsl(228, 5%, 19%);


// -------------Layout variables------------

$center: 0 auto;