@use "../utilities" as *;

// base button
.btn {
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: 45px;
  font-size: $txt-md;
  width: 10rem;
  display: block;
  text-align: center;
  margin-bottom: 1.5rem;
  border-width: 2px;
  border-style: solid;
  cursor: pointer;
  border: 2px solid rgb(48, 56, 83) !important;
}

// button variations
.btn-primary {
  @include buttonBg($secondary-color, $secondary-color, $primary-color);
}

.btn-secondary {
  @include buttonBg($primary-color, $secondary-color, $secondary-color);
  background-color: rgba(3, 3, 3, 0);
}

.btn-action {
  @include buttonBg($primary-color, $primary-color, $light-gray);
  justify-content: space-between;
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  gap: 0rem;
  width: 16rem;
  background-color: $primary-color;
  color: $secondary-color;
  height: 4.5rem;
  transition: all 0.2s ease-in-out;
  border-style: none;
  box-shadow: 0 16px 18px -12px rgba(0, 0, 0, 0.56),
    0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);

  svg {
    fill: $secondary-color;
    max-height: 40px;
    width: 3rem;
    text-align: right;
  }

  div {
    text-align: right;
  }
}

.btn-action:hover {
  background-color: $primary-color;
  color: $secondary-color;
}

.btn-action__reverse {
  background-color: $white;
  color: $primary-color;
  border: solid 3px $primary-color;

  svg {
    fill: $primary-color;
  }
}

.btn-action__reverse:hover {
  background-color: $white;
  color: $primary-color;
  border: solid 3px $primary-color;

  svg {
    fill: $primary-color;
  }
}

.btn-action__hover {
  @include buttonBg($primary-color, $primary-color, $light-gray);
}

.btn-action__hover:hover {
  background-color: $light-gray;
  color: $primary-color;
  border: 2px solid $primary-color;
}

.btn-highlight {
  @include buttonBg($dark-accent, $dark-accent, $light-gray, $true);
}

.btn-bio {
  @include buttonBg($dark-accent, $dark-accent, $light-gray, $true);
}