@use "../utilities" as *;



// image carosul

.banner .project__img-innerContainer {
  position: relative;
}

.project__container .project__img-innerContainer {
  position: relative;
}

.project__img-innerContainer:hover,
.project__imgs-slider-thumbs li {
  cursor: pointer;

}

.project__img-picture {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.project__img-picture.img-active {
  opacity: 1;
}

.project__img--slide-prev,
.project__img--slide-next {
  transition: background-color 0.25s ease-in-out;
  background-color: $white;
  // background-color: $primary-color;

  border-radius: 50%;
  border: solid 2px $primary-color;
  margin: 1.5rem;
  width: 4rem;

  svg {
    transform: rotate(270deg);
    fill: $primary-color;
    // fill: $white;
    transition: fill 0.25s ease-in-out;
    width: 1.5rem !important;
  }
}

.project__img--slide-next {
  padding: 1rem 1rem 1rem 1.25rem !important;
}

.project__img--slide-prev {
  padding: 1rem 1rem 1rem 1.1rem !important;
}

.project__img--slide-prev:hover,
.project__img--slide-next:hover,
.project__img--slide-prev:focus,
.project__img--slide-next:focus,
.project__img--slide-prev:active,
.project__img--slide-next:active {
  cursor: pointer;
  background-color: $primary-color;

  svg {
    fill: $white;
  }
}

.project__img--slide-next {
  svg {
    transform: rotate(90deg);
  }
}

.project__img-slider-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem;
  gap: 1rem;

  * {
    margin: 0rem !important;
  }
}

.project__imgs-slider-thumbs {
  display: flex;
  height: 3rem;
  margin: 1.5rem;
  gap: 0.5rem;
  justify-content: center;

  li {
    border: solid 2px $primary-color;
    width: 3rem;
  }

  .current {
    border: 4px solid $primary-color;

  }

  img {
    height: 100%;
  }

}

@media (max-width: 520px) {
  .project__imgs-slider-thumbs {
    justify-content: center;
    width: 100%;
  }


  .project__img-slider-buttons {
    flex-wrap: wrap;
  }

  .project__img--slide-prev,
  .project__img--slide-next {
    order: 2;
  }
}