@use "../utilities/" as *;

.bio__grid-fluid {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;

  .bio__grid-item1 {
    flex: 4 1 383px;
    max-width: 503px;

    h2 {
      line-height: 1;
    }
  }

  .bio__grid-item2 {
    flex: 8 1 783px;
    display: flex;
    flex-wrap: wrap;
    gap: 0.4rem;
    flex-direction: row;
    position: relative;

    .bio__logo {
      background-image: url("../../assets/img/space.jpg");
      background-size: cover;
      padding: 1rem;
      max-height: 18rem;
      max-width: 17rem;
      justify-content: center;
      box-shadow: $box-shadow-light;

      display: flex;
      svg {
      }
    }

    .bio__profile-pic {
      // width: 18rem;
      height: 18rem;
      width: 19.5rem;
      box-shadow: $box-shadow-light;
    }

    .bio__links {
      position: absolute;
      left: 28rem;
      bottom: 5rem;
    }

    .bio__links a:first-child {
      width: 18rem;
    }

    .bio__links a:first-child:hover {
      background-color: hsl(0deg, 0%, 97%);
      color: rgb(48, 56, 83);
      border: 2px solid rgb(48, 56, 83);
      svg {
        fill: $primary-color !important;
      }
      width: 19.5rem;
    }

    .bio__links a:last-child {
      width: 14rem;
    }

    .bio__links a:last-child:hover {
      width: 15.5rem;
      background-color: hsl(0deg, 0%, 97%);
      color: rgb(48, 56, 83);
      border: 2px solid rgb(48, 56, 83);
      svg {
        fill: $primary-color !important;
      }
    }

    .bio__btn {
      margin-bottom: 1.5rem;
      border: 2px solid rgb(48, 56, 83);
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;
      width: 15rem;
      background-color: $primary-color;
      color: $white;
      height: 4.5rem;
      transition: width 0.2s ease-in-out;
      border-style: none;
      box-shadow: 0 16px 18px -12px rgba(0, 0, 0, 0.56),
        0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
      svg {
        fill: $secondary-color;
        max-height: 40px;
      }

      svg:first-child {
        width: 3rem;
      }

      svg:last-child {
        text-align: right;
        width: 1.5rem;
        fill: $light;
      }

      span {
        transition: margin 0.2s ease-in-out;
      }

      div {
        display: flex;
        align-items: center;
        gap: 0.25rem;
      }
    }
  }
}

// re-arrange the content to fit mobile and tablet views
@media (max-width: 1000px) {
  .bio__grid-fluid {
    gap: 1.5rem;
    .bio__grid-item2 {
      flex-direction: column;

      .bio__links {
        left: 0rem;
        bottom: -1.5rem;
        margin-top: 1.5rem;
      }

      .bio__profile-pic {
        margin-bottom: 12rem;
        height: auto;
        width: 17rem;
      }

      .bio__logo {
        background-image: url("../../assets/img/space-sm.jpg");
      }

      .bio__btn {
        width: 15rem !important;
        svg {
          width: 4rem;
        }
      }
      .bio__links a:first-child {
        width: 17rem;
      }

      .bio__links a:first-child:hover {
        width: 17rem;
      }

      .bio__links a:last-child {
        width: 14rem;
      }

      .bio__links a:last-child:hover {
        width: 14rem;
      }
    }
  }
}

.bio__btn.btn:focus-within {
  background-color: hsl(0deg, 0%, 97%);
  color: rgb(48, 56, 83);
  border: 2px solid rgb(48, 56, 83);
  svg {
    fill: $primary-color !important;
  }
}
