@use "../utilities/" as *;

.bio {
}

.bio-grid-fluid {
  // @include sectionGrid(1rem, 56px, 4, 8);
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;

  .grid-item1 {
    flex: 4 1 383px;
    max-width: 503px;

    h2 {
      line-height: 1;
    }
  }

  .grid-item2 {
    // margin-bottom: 4.5rem;
    // padding: 1.5rem;
    flex: 8 1 783px;
    display: flex;
    flex-wrap: wrap;
    gap: 0.4rem;
    flex-direction: row;
    position: relative;

    &__logo {
      background-image: url("../../assets/img/space.jpg");
      background-size: cover;
      padding: 1rem;
      max-height: 18rem;
      max-width: 19.5rem;
      justify-content: center;

      display: flex;
      svg {
      }
    }

    &__img {
      // width: 18rem;
      height: 18rem;
      width: 19.5rem;
    }

    &__links {
      position: absolute;
      left: 29rem;
      bottom: 0rem;
    }

    .btn {
      margin-bottom: 1.5rem;
      display: flex;
      align-items: center;
      gap: 1rem;
      width: 15rem;
      background-color: $primary-color;
      color: $white;
      height: 4.5rem;
      transition: width 0.2s ease-in-out;
      border-style: none;
      box-shadow: 0 16px 18px -12px rgba(0, 0, 0, 0.56),
        0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
      svg {
        fill: $secondary-color;
        max-height: 40px;
      }

      svg:first-child {
        width: 3rem;
      }

      svg:last-child {
        text-align: right;
        width: 2rem;
      }

      span {
        width: 6rem;
        transition: margin 0.2s ease-in-out;
      }
    }

    .btn:nth-child(1) {
      width: 20rem;
      div {
        width: 8rem;

        text-align: right;
      }
    }

    .btn:hover {
      width: 17rem;
      span {
        margin-right: 2rem;
      }
    }

    .btn:nth-child(1):hover {
      width: 22rem;
      span {
        margin-right: 2rem;
      }
    }
  }
}

@media (max-width: 1000px) {
  .bio-grid-fluid {
    gap: 1.5rem;
    .grid-item2 {
      flex-direction: column;

      &__links {
        left: 0rem;
        bottom: 0rem;
      }

      &__img {
        margin-bottom: 12rem;
        height: auto;
        width: 17rem;
      }

      &__logo {
        width: 17rem;
        background-image: url("../../assets/img/space-sm.jpg");
      }

      .btn {
        width: 13rem;
      }

      .btn:nth-child(2) {
        margin-bottom: 0;
      }

      .btn:nth-child(1) {
        width: 17rem;
        div {
          width: 5rem;
        }
      }
    }
  }
}
