@use "../utilities/vars" as *;

.contact-form {
  padding: 1.5rem;
  background-color: $light-gray;
  box-shadow: 0 16px 18px -12px rgba(0, 0, 0, 0.56),
    0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  max-width: 504px;
  input {
    display: block;
    margin-bottom: 1.5rem;
  }
}


.contact{

}