@use "../utilities/vars" as *;

.contact {
  h2 {
    margin-bottom: 0rem;
  }
  .contact__form {
    padding: 1.5rem;
    background-color: $light-gray;
    box-shadow: $box-shadow-light;
    border-radius: 10px;
    max-width: 504px;
    input {
      display: block;
      margin-bottom: 1.5rem;
      width: 100%;
      padding: 1rem 0.5rem;
    }

    button:focus-within {
      color: $primary-color;
      background-color: $white;
    }
  }

  textarea {
    display: block;
    text-align: left;
    width: 100%;
    min-width: 206px;
    height: 10rem;
  }
}
