@use "../utilities" as *;

/*------------------------------------*\
  #hamburger button
\*------------------------------------*/
.ham {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0rem 5%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: $white;
  box-shadow: $box-shadow-light;

  svg {
    width: 2.5rem;
  }

  a {
    padding: 0.5rem;
  }
}

.ham__btn {
  background-color: $white;
  padding: 0rem;
  padding: 0.5rem;

  svg {
    fill: $primary-color;
    width: 2.5rem;
  }
}

.ham__btn:hover,
.ham__btn:focus {
  cursor: pointer;
  background-color: $primary-color;

  svg {
    fill: $white;
  }
}

/*------------------------------------*\
  #Link Menu Mobile
\*------------------------------------*/

.nav {
  position: fixed;
  top: 0rem;
  left: -15rem;
  width: 120px;
  background-color: $white;
  transition: 0.5s;
  height: 100vh;
  box-shadow: $box-shadow-dark;
  z-index: 2;

  svg {
    width: 5.5rem;
    margin-bottom: 3rem;
    padding: 0rem;
  }

  .nav__arrow:hover,
  .nav__arrow:focus {
    background-color: $white;
    cursor: pointer;
    background-color: $primary-color;

    svg {
      fill: $white;
    }
  }

  .nav__arrow {
    text-align: left;
  }

  .nav__logo:hover {
    background-color: $white;
  }

  .nav__logo {
    display: none;

    a {
      padding: 0rem;
    }
  }
}

nav {
  li {
    text-align: center;
    text-transform: capitalize;
    // font-weight: 600;
    transition: 0.2s;
  }
}

nav {

  li:hover,
  li:focus-within {
    background-color: $primary-color;

    a {
      color: $light-gray;
    }
  }
}

//----------------------------------------
//-----------------FOCUS NAV LI---------------------
//----------------------------------------

.nav__arrow {
  background-color: $white;
  padding-bottom: 0.75rem;
  margin-bottom: 0rem;
  padding-left: 1rem;
  padding-top: 0.75rem;
  width: 100%;
  text-align: left;

  svg {
    width: 2rem;
    margin-bottom: 0rem;
    fill: $dark-gray;
  }
}

nav a,
.nav__projects {
  display: block;
  text-align: center;
  padding: 1rem 0rem;
  color: $dark-gray;
  line-height: 1.5;
}

.nav__projects {
  border: solid 2px $primary-color;
}

//-----------------Active when clicked---------------------
.nav__menu {
  .active {
    background-color: $white;
    color: $primary-color;
    width: 8rem;
    padding-right: 0.75rem;
  }

  a {
    line-height: 1.5;
  }
}

/*------------------------------------
  #Utility classes
------------------------------------*/

.nav--show {
  top: 0rem;
  left: 0rem;
  transition: 0.5s;
}

/*------------------------------------*\
  # Desktop Link menu
\*------------------------------------*/

@media (min-width: 900px) {
  .nav {
    left: 0rem;
    right: auto;
    padding: 1.5rem 0rem 0rem 0rem;

    .nav__logo {
      display: block;
    }
  }

  .nav__menu {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    a,
    li {
      line-height: 2;
    }
  }

  .nav__arrow {
    position: absolute;
    left: -15rem;
  }

  .ham {
    top: -25rem;
  }
}

/*------------------------------------*\
  #Projects nested menu
\*------------------------------------*/

.nav__projects-list {
  display: none;
  font-size: $txt-sml;
  background-color: $light-gray;
  box-shadow: inset 0.1rem 0.1rem 0.2rem $dark-gray;
  transition: height 0.5s;

  a {
    display: block;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }
}

.nav__projects:hover {
  cursor: pointer;
  color: $primary-color;
  background-color: $light-gray;
  border: solid 2px $primary-color;
  width: 8rem;
  padding-right: 0.75rem;
}

.nav__projects-list:hover {
  background-color: $light-gray;
  color: $dark-gray;

  a {
    color: $dark-gray;
  }

  li:hover,
  li:focus {
    background-color: $primary-color;
    color: $light-gray;

    a {
      color: $light-gray;
    }
  }
}

.nav__projects-list--hide {
  display: block;
}

.accent {
  background-color: $dark-accent;
  color: $white;
  font-weight: bold;
  font-family: "nerislight";
  font-weight: normal;
  font-style: normal;
  overflow: visible;
  width: 7.25rem;
  border-radius: 0px 5px 5px 0px;
}