@use "../utilities/" as *;

p {
  span {
    font-weight: 700;
  }
}

.projects-page {
  h1 {
    color: $primary-color;
  }
}

.projects__header {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.484),
      $primary-color
    ),
    url("../../assets/img/sass-editor.jpg");

  color: $white;
  background-color: $primary-color;
  background-position: left;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 0 2000px hsla(228, 26%, 18%, 0.598);
  padding-top: 6rem;
  padding-bottom: 3rem;

  .projects__header--alignment {
    display: flex;
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap;
  }
  h1 {
    color: $white;
    margin-top: 0rem;
  }
  svg {
    fill: $secondary-color;
    max-width: 10.5rem;
    width: 25%;
    min-width: 7.5rem;
  }
}

.projects__header--dev {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.484),
      $primary-color
    ),
    url("../../assets/img/sass-editor.jpg");
}

.projects__header--design {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.484),
      $primary-color
    ),
    url("../../assets/img/chef-design/chef-site-3x.jpg");
}
//-----------------------------------------------------------//
// --------------------- Project image and text -----------------------------//
//----------------------------------------------------------//

.project {
  margin-bottom: 6rem;
}

.project__container {
  border-radius: 0px 0px 15px 15px;
  margin-right: 8%;
  box-shadow: 0 16px 18px -12px rgba(0, 0, 0, 0.56),
    0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  h3 {
    background-color: $primary-color;
    color: $secondary-color;
    padding: 1.5rem;
    border-radius: 15px 15px 0px 0px;
  }
  .project__content {
    display: flex;
    flex-wrap: wrap;
    svg {
      width: 3rem;
    }

    p {
      // padding: 1.5rem;
      max-width: 575px;
    }

    div:first-child {
      padding: 1.5rem;
    }

    > div {
      flex-basis: 350px;
      flex-shrink: 1;
      flex-grow: 1;
      background-color: $light-gray;
    }
    // allows image to resize in a pleasing way
    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
      background-color: $dark-gray;
    }
    .project__img {
      flex-basis: 500px;
      flex-shrink: 10;
      flex-grow: 10;
      position: relative;
    }
  }

  .project__btn-container {
    width: 100%;
    height: 11rem;
    position: absolute;
    bottom: 1rem;
    left: 10%;
    padding-top: auto;
    margin-bottom: 3rem;
  }
  //-----------------------------------------------------------//
  // --------------------- Button desktop ----------------------//
  //----------------------------------------------------------//

  .project__btn {
    margin-top: 1.5rem;
    margin-left: calc(100% - 290px);
  }

  .project__btn:hover {
    width: 16.5rem;
  }
}

//-----------------------------------------------------------//
// --------------------- Button bottom mobile ----------------------//
//----------------------------------------------------------//

.project__btn--bottom {
  display: none;
  overflow: visible;
  width: calc(100% + 3.5rem);
}

@media (max-width: 920px) {
  .project__btn-container {
    display: none;
  }

  .project__list {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }

  .project__btn--bottom {
    display: block;
  }
}

//button fit screen
@media (min-width: 500px) {
  .project__btn-container {
    .project__btn {
      margin-top: 1.5rem;
      margin-left: calc(100% - 290px);
    }

    .project__btn:hover {
      width: 17rem;
    }
  }
}

//-----------------------------------------------------------//
// --------------------- Skills -----------------------------//
//----------------------------------------------------------//

.project__skills {
  box-shadow: 0 0px 1px -1px rgba(0, 0, 0, 0.56),
    0 1px 22px 0px rgba(0, 0, 0, 0.12), 0 1px 1px -1px rgba(0, 0, 0, 0.2);
  background-color: $white;
  padding: 1.5rem;
  position: relative;
  border-radius: 0px 0px 15px 15px;

  .project__list {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0rem 1.5rem 3rem 1.5rem;
    text-align: center;
    width: 75%;
    max-width: 50rem;

    li {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: 7.5rem;
    }

    svg {
      width: 4rem;
      height: 4.5rem;
    }
  }
}
