@use "../utilities/" as *;

p {
  span {
    font-weight: 700;
  }
}

.projects-page {
  h1 {
    color: $primary-color;
  }
}

.projects__header {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.484),
      $primary-color
    ),
    url("../../assets/img/sass-editor.jpg");

  color: $white;
  background-color: $primary-color;
  background-position: left;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 0 2000px hsla(228, 26%, 18%, 0.598);
  padding-top: 4.5rem;
  padding-bottom: 3rem;

  .projects__header--alignment {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap;
  }
  h1 {
    color: $white;
    margin-top: 0rem;
  }
  svg {
    fill: $secondary-color;
    max-width: 10.5rem;
    width: 25%;
    min-width: 7.5rem;
  }
}

.projects__header--dev {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.484),
      $primary-color
    ),
    url("../../assets/img/sass-editor.jpg");
}

.projects__header--design {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.484),
      $primary-color
    ),
    url("../../assets/img/chef-design/chef-site-3x.jpg");
}
//-----------------------------------------------------------//
// --------------------- Project image and text -----------------------------//
//----------------------------------------------------------//

.project__img-innerContainer {
  aspect-ratio: 3/2;
  overflow: hidden;
  padding: 0rem !important;
}

@media (min-width: 900px) {
  .project__img-innerContainer {
    margin: 1.5rem;
    aspect-ratio: 3/2;
    overflow: hidden;
  }
}

.project {
  margin-bottom: 6rem;
}

.project__container {
  border-radius: 0px 0px 15px 15px;
  margin-right: 8%;
  box-shadow: $box-shadow-light;
  h3 {
    background-color: $primary-color;
    color: $secondary-color;
    padding: 1.5rem;
    border-radius: 15px 15px 0px 0px;
  }
  .project__content {
    display: flex;
    flex-wrap: wrap;
    svg {
      width: 3rem;
    }

    p {
      // padding: 1.5rem;
      max-width: 575px;
    }

    div:first-child {
      padding: 1.5rem;
    }

    > div {
      flex-basis: 350px;
      flex-shrink: 1;
      flex-grow: 1;
      background-color: $light-gray;
    }
    .project__img {
      flex-basis: 500px;
      flex-shrink: 10;
      flex-grow: 10;
      position: relative;
    }
    // allows image to resize in a pleasing way 962 x 541
    .project__img--picture {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      background-color: $dark-gray;
      display: none;
      position: relative;
      left: -50px;
      transition: left 1s ease;
      z-index: -999;
      overflow: hidden;
    }

    .img-active {
      display: block;
      left: 0px;
      z-index: 1;
      overflow: hidden;
    }
  }

  .project__btn-container {
    width: 100%;
    height: 11rem;
    position: absolute;
    bottom: 1rem;
    left: 10%;
    padding-top: auto;
    margin-bottom: 3rem;
  }
  //-----------------------------------------------------------//
  // --------------------- Button desktop ----------------------//
  //----------------------------------------------------------//

  .project__btn {
    margin-top: 1.5rem;
    margin-left: calc(100% - 260px);
    border: 2px solid rgb(48, 56, 83);
    font-size: 1.25rem;
    width: 14rem;
    svg {
      width: 2rem;
    }
  }

  .project__btn:hover,
  .project__btn:focus-within {
    width: 14.5rem;
    background-color: hsl(0deg, 0%, 97%);
    color: rgb(48, 56, 83);
    border: 2px solid rgb(48, 56, 83);
    svg {
      fill: $primary-color !important;
    }
  }
}

//-----------------------------------------------------------//
// --------------------- Button bottom mobile ----------------------//
//----------------------------------------------------------//

.project__btn--bottom {
  display: none;
  overflow: visible;
  width: calc(100% + 3.5rem);
}

@media (max-width: 920px) {
  .project__btn-container {
    display: none;
  }

  .project__list {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }

  .project__btn--bottom {
    display: block;
  }
}

//button fit screen
@media (min-width: 500px) {
  .project__btn-container {
    .project__btn {
      margin-top: 1.5rem;
      margin-left: calc(100% - 290px);
      font-size: 1.5rem;
      width: 16rem;
      svg {
        width: 3rem;
      }
    }

    .project__btn:hover,
    .project__btn:focus-within {
      width: 17rem;
    }
  }
}

//-----------------------------------------------------------//
// --------------------- Skills -----------------------------//
//----------------------------------------------------------//

.project__skills {
  box-shadow: 0 0px 1px -1px rgba(0, 0, 0, 0.56),
    0 1px 22px 0px rgba(0, 0, 0, 0.12), 0 1px 1px -1px rgba(0, 0, 0, 0.2);
  background-color: $white;
  padding: 1.5rem;
  position: relative;
  border-radius: 0px 0px 15px 15px;
  h4 {
    margin-bottom: 0.75rem;
  }

  .project__list {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 1.5rem 0rem 3rem 0rem;
    text-align: center;
    width: 75%;
    max-width: 50rem;
    position: relative;
    z-index: 1;

    li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 7.5rem;
      // border: solid 2px $dark-accent;
      box-shadow: 0px -1px 1px rgba(0, 0, 0, 0.08),
        1px 0px 1px rgba(0, 0, 0, 0.08), -1px 0px 1px rgba(0, 0, 0, 0.08),
        0px 1px 1px rgba(0, 0, 0, 0.08);
      padding: 0.5rem;
      width: 4rem;
      border-radius: 15px;

      transition: background-color 0.5s ease-in-out;
    }

    li:hover {
      border: 2px solid $dark-accent;
      background-color: $white;
      cursor: pointer;
    }

    svg {
      width: 2rem;
      height: 3rem;
    }

    figcaption {
      word-wrap: break-word;
      font-size: clamp(0.75rem, 2.5vw, 1.1rem);
    }
  }
}

@media (min-width: 720px) {
  .project__skills {
    .project__list {
      display: flex;
      gap: 1.5rem;
      flex-wrap: wrap;
      justify-content: flex-start;
      padding: 0rem 1.5rem 3rem 1.5rem;
      text-align: center;
      width: 75%;
      max-width: 50rem;
      svg {
        width: 2.5rem;
      }
      li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 7.5rem;
      }
    }
  }
}
