@use "../utilities/vars" as *;

.skills {
  margin-bottom: 6rem;

  h2,
  .skills__card-container {
    width: 100%;
    max-width: $grid-mid-width;
    padding-left: 5%;
    padding-right: 5%;
    margin: 0 auto;
  }

  h2 {
    margin-bottom: 1.5rem;
  }
  //---------------------------------------------
  //---------------- Skills Search----------------
  //-------------------------------------------
  .skills__search {
    display: flex;
    gap: 3rem;
    row-gap: 1.5rem;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    color: $secondary-color;
    flex-wrap: wrap;
    margin-bottom: 3rem;

    background-color: $primary-color;
    svg {
      fill: $secondary-color;
      width: 2rem;
    }

    p {
      font-size: $txt-lg;
      line-height: 1.5;
    }

    form {
      display: block;
    }

    :focus {
      background-color: $white;
      color: $primary-color;
    }
  }

  input {
    background-color: $primary-color;

    border: 0px;
    border-bottom: solid 2px $secondary-color;
    color: $secondary-color;
    font-size: $txt-md;

    width: 10rem;
  }

  input:focus {
    background-color: $primary-color;
    outline: none;
  }
}

.skills__search-input {
  display: flex;
  align-items: flex-end;
  gap: 0.5rem;
}

/*------------------------------------*\
  #Skill cards
\*------------------------------------*/

.skills__cards {
  display: flex;
  transition: display 1s;
  -webkit-transition: display 1s;
  min-height: 50vh;
  gap: 1rem;
  row-gap: 1.5rem;
  flex-wrap: wrap;
  margin-top: 1.5rem;
  justify-content: center;

  .skills__card {
    cursor: pointer;
    display: flex;
    order: 1;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 178px;
    width: 25%;
    min-width: 6.5rem;
    opacity: 1;
    text-align: center;
    background-color: $white;
    padding: 1.5rem 1rem 1.5rem 1rem;
    height: 15rem;
    box-shadow: 0 16px 18px -12px rgba(0, 0, 0, 0.56),
      0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    transition: background-color .5s ease-in-out;
    transition: color .5s ease;

    svg {
      width: 75%;
      max-width: 6.5rem;
      min-width: 1rem;
      max-height: 6rem;
      height: 6.5rem;
      margin-bottom: 1.5rem;
      transition: padding 0.35s ease-out;
    }
    // hide card when does not match search
    &--hidden {
      order: 99;
      opacity: 0;
    }
  }

  @media (min-width: 1000px) {
    .skills__card:hover {
      background-color: $dark-accent;
      color: $white;
      font-weight: bold;

      svg {
        padding: 1rem;
      }
    }
  }
}

//   manual margins to fit with wrapper.
@media (min-width: 1700px) {
  .skills {
    h2,
    .skills__card-container {
      padding-left: 0rem;
      padding-right: 0rem;
    }
  }
}
